.all-apartments {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

.all-apartment-header{
  color:rgb(116, 120, 29);
  margin-top: 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 800;
  padding-left: 20px;
}

.apartment-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}


.apartment-header{
  font-weight: 600;
  font-size: large;

}

/* Add this to your AllApartment.css file or create a new CSS file for the component */

.filter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
}
.dropdown-button {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 10px;
  margin-top: 100px;
  border-radius: 50%;
  color: aquamarine;
  height: 35px;
}

.dropdown-arrow {
  font-size: 16px;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  padding: 8px 16px;
  margin: 0 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

.pagination-current-page {
  margin: 0 10px;
  font-weight: bold;
}
