/* ApartmentCard.css */

.apartment-card {
  position: relative;
  width: 320px;
  height: 450px;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 5px;
  perspective: 800px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.apartment-card:hover {
  transform: rotateY(5deg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.apartment-card-link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
}

.apartment-card-link:hover {
  opacity: 0.8;
  color: rgb(0, 0, 0);
}

.slideshow-container {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.slideshow {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  transform: translateZ(50px);
  transition: transform 0.5s;
}

.apartment-card:hover .card-body {
  transform: translateZ(0);
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.5;
}

.list-group {
  margin-bottom: 20px;
  padding-left: 20px;
}

.list-group-item {
  font-size: 14px;
  margin-bottom: 5px;
}

.card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  background-color: #f1f1f1;
  color: #555;
  font-size: 14px;
  transform: translateZ(50px);
  transition: transform 0.5s;
}

.apartment-card:hover .card-footer {
  transform: translateZ(0);
}

.card-price {
  font-weight: 800;
  font-size: large;
  color: green;
}

.card-actions {
  display: flex;
  align-items: center;
}

.like-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #555;
  margin-left: 10px;
  transition: color 0.3s ease-in-out;
}

.like-button:hover {
  color: #e74c3c;
}

.like-button.liked {
  color: #e74c3c;
}

/* Media Queries for Mobile Mode */

@media (max-width: 768px) {
  .apartment-card {
    width: 100%;
    height: auto;
  }
  
  .slideshow-container {
    height: 200px;
  }
  
  .card-body,
  .card-footer {
    transform: none;
  }
  
  .apartment-card:hover .card-body,
  .apartment-card:hover .card-footer {
    transform: none;
  }
}
