/* Apartment.css */

.single-apartment {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f8f8f8;
  padding-top: 100px;
}

.single-apartment-slider {
  margin-bottom: 30px;
}

.slider-image {
  width: 100%;
  height: 520px;
  object-fit: cover;
  border-radius: 5px;
}

.single-apartment-details {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}

.single-apartment-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.apartment-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.apartment-info-item {
  flex: 1 1 300px;
}

.apartment-info-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.apartment-info-item p {
  font-size: 16px;
  margin-bottom: 20px;
}

.single-apartment-comments-section {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}

.comment-header {
  font-size: 24px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
}

.comments {
  margin-bottom: 20px;
}

.comment {
  font-size: 16px;
  margin-bottom: 10px;
}

.add-comment textarea {
  height: 100px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.add-comment-button {
  background-color: #007bff;
  color: #ffffff;
    padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
}

.single-apartment-actions-section {
  text-align: center;
}

.payment-button {
  background-color: #ffffff;
  color: #381111;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 1px solid #29d01e;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-button:hover {
  background-color: #82bf7d;
}

/* Responsive Styling */
@media screen and (max-width: 768px) {
  .apartment-info-item {
    flex: 1 1 100%;
  }
}

.apartment-price {
  font-size: large;
  color: #338a2d;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.single-apartment-actions-section {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
}

.single-apartment-map {
  margin: 40px 0;
  height: 400px;
}

.description-header {
  font-size: 28px;
  font-weight: bold;
  font-style: unset;
  margin-bottom: 20px;
  color: #310909;
  text-transform: uppercase;
  border-bottom: 0.5px solid #d3cfcf;
  padding-bottom: 10px;
  /* Add your custom styles */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}

.totalpackage{
  color: #338a2d;
  size: 2rem;
}
