.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.image-container {
  width: 100%;
  max-width: 600px;
}

.customer-image {
  width: 100%;
  height: auto;
}

.contact form {
  width: 100%;
}

.contact input,
.contact textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact textarea {
  height: 100px;
  border-radius: 10px;
}

.contact button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.contact-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* Media Queries for Responsive Layout */
@media (min-width: 768px) {
  .contact {
    flex-direction: row;
  }

  .image-container {
    padding-right: 2rem;
  }

  .customer-image {
    padding-left: 50px;
  }

  .contact-heading {
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
