.login-page {
  padding-top: 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  background-image: url('https://th.bing.com/th/id/OIP.xDuMBs8hCpz1K43wlIOe8AHaE8?pid=ImgDet&rs=1');
  background-size: cover;
  background-position: center;
}

.login-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #271a0d;
}

.form {
  width: 100%;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  font-size: 16px;
  color: #333333;
}

.submit-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: #958320;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #8a7b0d;
}

.form-switch {
  margin-top: 10px;
  font-size: 14px;
  color: #333333;
  cursor: pointer;
  text-decoration: underline;
}

.form-switch:hover {
  color: #d9d9d9;
}
