/* public/css/UserProfile.css */
.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 100px;
}

.avatar-container {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
}

.avatar-container .cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.user-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.user-email {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
  padding-left: 1px;
}

.user-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.money-bag-icon {
  margin-right: 5px;
}

.transactions-section,
.notifications-section {
  width: 100%;
  margin-top: 20px;
}

.transactions-section h3,
.notifications-section h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.transaction-item,
.notification-item {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
}

.transaction-item p,
.notification-item p {
  margin: 5px 0;
}

.apartment-link {
  display: block;
  color: #007bff;
  text-decoration: none;
  margin-top: 5px;
}


