/* UserProfile.css */

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* background-color: #f2f2f2; */
  margin-top: 100px;
}

.avatar-container {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}

.user-info {
  text-align: center;
  margin-bottom: 30px;
}

.user-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-email {
  color: #888;
}

.orders-section {
  width: 100%;
  margin-bottom: 30px;
}

.orders-section h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.order-list {
  margin-bottom: 20px;
}

.order-list h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.order-item {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.order-item h5 {
  font-size: 16px;
  font-weight: bold;
}

.order-item p {
  margin: 5px 0;
}

.notifications-section {
  width: 100%;
}

.notifications-section h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.notification-item {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}


.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/apartment-64933ee3a81ccb29640637e4-1687371602017.jpeg') no-repeat center center fixed;
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
}
